
extends ../base

block content
    div#videoContainer(data-id=video._id)
        if video.fileUrl.startsWith("http")
            video(src=video.fileUrl)
        else
            video(src="/"+video.fileUrl)
        div#videoControls.videoControls.showing
            span#videoControls__playBtn.material-icons play_arrow
            div#videoControls__items
                div#time
                    span.current 0:00
                    input(type="range" step="1" value="0" min="0")#timeBar
                    span.total
                div#volume
                    span#volumeBtn.material-icons volume_up
                    input(type="range" step="0.05" value="0.5" min="0" max="1")#volumeBar
                div#fullscreen.material-icons fullscreen
            div.videoControls__owner
                if String(video.owner._id) === String(loggedInUser._id)
                a(href=`${video.id}/edit`)
                    span.material-icons settings
                    span
                a(href=`${video.id}/delete`)
                    span.material-icons delete
           
    div.main__wrapper
        div.video__data
            div.video__info
                h3.video__title=video.title
                div.video__spec
                    p.video__description=video.description
                    small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                div.owner__info
                    a(href=`/users/${video.owner._id}`)
                        if video.owner.avatarUrl.startsWith("http")
                            img(src=video.owner.avatarUrl).avatar
                        else
                            img(src="/"+video.owner.avatarUrl).avatar
                        span=video.owner.username
        
        include ./comment

block scripts
    script(src="/static/js/videoPlayer.js") 
    if loggedIn
        script(src="/static/js/commentSection.js") 